{% extends  'base.html' %}
{%block title%}Add Expense {%endblock%}
{% block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">{{ title or 'Add Expense' }}</h3>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.category.label(class="form-label") }}
                            {{ form.category(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            {{ form.amount.label(class="form-label") }}
                            {{ form.amount(class="form-control") }}
                        </div>


                        <div class="mb-3">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.date.label(class="form-label") }}
                            {{ form.date(class="form-control") }}
                        </div>

                        <div class="mb-4 text-center ">
                            <button type="submit" class="btn btn-danger">
                              {{ 'Update Expense' if is_edit else 'Add Expense' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}